<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品列表</title>
</head>
<body>
    <h1>我是商品列表页面</h1>
    <a href="/products/new">新增</a>
    <% list.forEach(item => { %>
        <p><%= item.name %> </p>
    <% }) %>
</body>
</html>